<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>JDoc Api</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.10.1/lib/theme-chalk/index.css">
    <script type="application/javascript" src="https://cdn.bootcss.com/prettify/r298/prettify.min.js"></script>
    <style>
        .jdoc-class-list {
            padding: 30px;
        }

        .jdoc-class-item {
            margin-top: 10px;
        }

        .jdoc-class-title-sub {
            margin-left: 10px;
        }

        .jdoc-method-item {
            margin-top: 10px;
            padding: 5px;
            border: 1px solid;
            border-radius: 5px;
        }

        .jdoc-method-get {
            border-color: #409EFF;
            background: #ECF5FF;
        }

        .jdoc-method-post {
            border-color: #67C23A;
            background: #F0F9EB;
        }

        .jdoc-method-put {
            border-color: #E6A23C;
            background: #FDF6EC;
        }

        .jdoc-method-delete {
            border-color: #F56C6C;
            background: #FEF0F0;
        }

        .jdoc-method-deprecated {
            border-color: #909399;
            background: #F4F4F5;
        }

        .jdoc-requst-method {
            width: 79px;
        }

        .jdoc-requst-url {
            font-weight: bold;
            padding: 0 10px;
        }

        .jdoc-method-deprecated .jdoc-requst-url {
            text-decoration: line-through;
        }

        .jdoc-method-content {
            padding: 20px;
        }

        .jdoc-method-option {
            margin: 10px 0;
        }

        .jdoc-field-api-required {
            width: 30px;
        }

        /* pretty 代码样式美化  */
        .prettyprint {
            background:#1d1f21;
            font-family:Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
            font-size:13px;
            line-height:1.5;
            border:1px solid #ccc;
            padding:10px
        }
        .pln {
            color:#ccc
        }
        @media screen {
            .str {
                color:#9c9
            }
            .kwd {
                color:#c9c
            }
            .com {
                color:#999
            }
            .typ {
                color:#69c
            }
            .lit {
                color:#f99157
            }
            .pun {
                color:#ccc
            }
            .opn {
                color:#ccc
            }
            .clo {
                color:#ccc
            }
            .tag {
                color:#f2777a
            }
            .atn {
                color:#f99157
            }
            .atv {
                color:#6cc
            }
            .dec {
                color:#f99157
            }
            .var {
                color:#f2777a
            }
            .fun {
                color:#69c
            }
        }
        @media print, projection {
            .str {
                color:#060
            }
            .kwd {
                color:#006;
                font-weight:700
            }
            .com {
                color:#600;
                font-style:italic
            }
            .typ {
                color:#404;
                font-weight:700
            }
            .lit {
                color:#044
            }
            .clo, .opn, .pun {
                color:#440
            }
            .tag {
                color:#006;
                font-weight:700
            }
            .atn {
                color:#404
            }
            .atv {
                color:#060
            }
        }
        ol.linenums {
            margin-top:0;
            margin-bottom:0
        }
        pre {
            overflow:auto
        }
    </style>
</head>
<body onload="prettyPrint()">
<div id="app">
    <div class="jdoc-class-list">
        <% for(controller in controllers){ %>
        <el-collapse class="jdoc-class-item">
            <el-collapse-item>
                <template slot="title">
                    <h2>${controller.clzzName}</h2> <span class="jdoc-class-title-sub">${controller.clazzDesc}</span>
                </template>
                <% for(method in controller.methods){ %>
                <% if(method.methodReqMethod == 0){ %>
                <div class="jdoc-method-item jdoc-method-get">
                <% } else if(method.methodReqMethod == 2) { %>
                <div class="jdoc-method-item jdoc-method-post">
                <% } else if(method.methodReqMethod == 3) { %>
                <div class="jdoc-method-item jdoc-method-put">
                <% } else if(method.methodReqMethod == 5) { %>
                <div class="jdoc-method-item jdoc-method-delete">
                <% } %>
                    <div>
                        <el-button type="primary" size="small" class="jdoc-requst-method" @click="showTrigger(show)">
                            <% switch(method.methodReqMethod){
                                case 0:
                                    print("GET");
                                    break;
                                case 2:
                                    print("POST");
                                    break;
                                case 3:
                                    print("PUT");
                                    break;
                                case 5:
                                    print("DELETE");
                                    break;
                            } %>
                        </el-button>
                        <span class="jdoc-requst-url">${method.methodName}</span> <span>${method.methodDesc}</span>
                    </div>
                    <div class="jdoc-method-content" v-show="show">
                        <el-tabs v-model="activeName">
                            <el-tab-pane label="Api Model" name="api">
                                <div class="jdoc-method-option">
                                    <b>Request</b>
                                </div>
                                <el-table :data="requestData" stripe style="width: 50%">
                                    <el-table-column prop="field" label="参数名"></el-table-column>
                                    <el-table-column prop="type" label="类型"></el-table-column>
                                    <el-table-column label="必须">
                                        <template slot-scope="scope">
                                            <el-tag type="danger" v-if="scope.row.required" class="jdoc-field-api-required">√</el-tag>
                                            <el-tag type="info" v-else class="jdoc-field-api-required">-</el-tag>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="note" label="描述"></el-table-column>
                                </el-table>
                                <div class="jdoc-method-option">
                                    <b>Response</b>
                                </div>
                                <pre class="prettyprint lang-json">{
    "apiBaseUrl" : "https://www.baidu.com" // 基础路径
}</pre>
                            </el-tab-pane>
                        </el-tabs>
                    </div>
                </div>
                <% } %>
            </el-collapse-item>
        </el-collapse>
        <%
        }
        %>
    </div>
</div>
</body>
<script type="application/javascript" src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
<script type="application/javascript" src="https://unpkg.com/element-ui@2.10.1/lib/index.js"></script>
</html>