<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>JDoc Api</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.10.1/lib/theme-chalk/index.css">
    <script type="application/javascript" src="https://cdn.bootcss.com/prettify/r298/prettify.min.js"></script>
    <style>
        ${css}
    </style>
</head>
<body onload="prettyPrint()">
<div id="app">
    <div class="jdoc-class-list">
        <% for(controller in controllers){ %>
        <el-collapse class="jdoc-class-item">
            <el-collapse-item>
                <template slot="title">
                    <h2>${controller.clzzName}</h2> <span class="jdoc-class-title-sub">${controller.clazzDesc}</span>
                </template>
                <% for(method in controller.methods){ %>
                <% if(method.methodReqMethod == 0){ %>
                <div class="jdoc-method-item jdoc-method-get">
                <% } else if(method.methodReqMethod == 2) { %>
                <div class="jdoc-method-item jdoc-method-post">
                <% } else if(method.methodReqMethod == 3) { %>
                <div class="jdoc-method-item jdoc-method-put">
                <% } else if(method.methodReqMethod == 5) { %>
                <div class="jdoc-method-item jdoc-method-delete">
                <% } %>
                    <div>
                        <el-button type="primary" size="small" class="jdoc-requst-method" @click="showTrigger(show)">
                            <% switch(method.methodReqMethod){
                                case 0:
                                    print("GET");
                                    break;
                                case 2:
                                    print("POST");
                                    break;
                                case 3:
                                    print("PUT");
                                    break;
                                case 5:
                                    print("DELETE");
                                    break;
                            } %>
                        </el-button>
                        <span class="jdoc-requst-url">${method.methodName}</span> <span>${method.methodDesc}</span>
                    </div>
                    <div class="jdoc-method-content" v-show="show">
                        <el-tabs v-model="activeName">
                            <el-tab-pane label="Api Model" name="api">
                                <div class="jdoc-method-option">
                                    <b>Request</b>
                                </div>
                                <el-table :data="requestData" stripe style="width: 50%">
                                    <el-table-column prop="field" label="参数名"></el-table-column>
                                    <el-table-column prop="type" label="类型"></el-table-column>
                                    <el-table-column label="必须">
                                        <template slot-scope="scope">
                                            <el-tag type="danger" v-if="scope.row.required" class="jdoc-field-api-required">√</el-tag>
                                            <el-tag type="info" v-else class="jdoc-field-api-required">-</el-tag>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="note" label="描述"></el-table-column>
                                </el-table>
                                <div class="jdoc-method-option">
                                    <b>Response</b>
                                </div>
                                <pre class="prettyprint lang-json">${response}</pre>
                            </el-tab-pane>
                        </el-tabs>
                    </div>
                </div>
                <% } %>
            </el-collapse-item>
        </el-collapse>
        <%
        }
        %>
    </div>
</div>
</body>
<script type="application/javascript" src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
<script type="application/javascript" src="https://unpkg.com/element-ui@2.10.1/lib/index.js"></script>
</html>